streamlit
openai
sentence-transformers
PyMuPDF
numpy
pandas
python-dotenv
unsloth
FlagEmbedding
pdfplumber
chromadb
loguru
requests
torch
PyPDF2
transformers
datasets
trl
sentencepiece
protobuf
huggingface_hub
hf_transfer
